torch
torchvision
numpy
pillow
matplotlib
scikit-image
pandas
seaborn
tqdm
albumentations
scipy
requests
pyyaml
tensorboard
python-dotenv
ucimlrepo
odfpy
scikit-learn
imblearn
pycocotools
labelme
labelme2coco
ultralytics
opencv-python
pexelsPy
lap
gradio